HORT_REALM_NAME=Hort
HORT_ADMIN_PASSWORD=change-me-before-deploy
HORT_2_ADMIN_PASSWORD=change-me-before-deploy
HORT_LOGIN_THEME=hort
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-before-deploy
KEYCLOAK_HOST_PORT=8180
